/* APPLYING TO ALL */
* {
  scroll-behavior: smooth;
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

/* LANDING PAGE */
main {
  width: 100%;
  position: relative;
}

.page-header {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  margin-top: 3vh;
}

/* SIGN IN AND CREATE ACCOUNT */
.title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 3.5vh;
  margin-top: 3.5vh;
}

.details-and-space {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 0.7vw;
}

.details {
  display: table;
  text-align: center;
}

.blank {
  display: table-cell;
  vertical-align: middle;
  width: 25vw;
}

.sign-in-account {
  width: 100%;
}

.create-account {
  width: 100%;
}

.section {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding-left: 26vw;
  font-size: 1.3vw;
}

.button-space {
  display: flex;
  justify-content: center;
}

.blue-button {
  background-color: #08569a;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 0.8% 1.2%;
  width: 13em;
  margin-top: 4vh;
  margin-bottom: 2vh;
  font-size: 1.2em;
}

/* TABLET OPTIMISED */
@media (max-width: 768px) {
  .page-header {
    font-size: 2em;
  }

  .title {
    font-size: 1.4em;
    margin-bottom: 2vh;
    margin-top: 2.5vh;
  }

  .blank {
    width: 33vw;
  }

  .section {
    padding-left: 20vw;
    font-size: 2.2vw;
  }
}

/* MOBILE OPTIMISED */
@media (max-width: 425px) {
  .page-header {
    font-size: 1.5em;
  }

  .title {
    font-size: 1.3em;
    margin-bottom: 2.5vh;
    margin-top: 2.5vh;
  }

  .blank {
    width: 40vw;
  }

  .section {
    padding-left: 12vw;
    font-size: 3vw;
  }
}
