/* REUSABLE ELEMENTS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.font {
  font-family: modish, sans-serif;
  font-style: normal;
}

.gradient {
  background: linear-gradient(270deg, #cce5fb 0%, #08569a 50%, #14181c 100%);
}

/* SCROLL UP BUTTON */
.button {
  position: absolute;
  top: 45rem;
  bottom: 0.5rem;
  right: 0.5rem;
}

.scroll-up {
  position: -webkit-sticky;
  position: sticky;
  top: 95vh;
}

.scroll-up-button {
  width: 4.5rem;
}

/* APPLYING TO ALL */
* {
  scroll-behavior: smooth;
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

/* NAVIGATION BAR */
.navigation {
  background: linear-gradient(270deg, #cce5fb 0%, #08569a 50%, #14181c 100%);
  display: flex;
  align-content: center;
  position: relative;
  width: 100%;
  height: 10vh;
}

.navigation-left {
  width: 15%;
  display: flex;
  align-items: center;
  float: left;
  padding-left: 0.7vw;
}

.navigation-center {
  width: 70%;
  display: flex;
  align-content: center;
  justify-content: center;
  color: white;
  font-size: 5vh;
}

.navigation-right {
  justify-content: end;
  width: 15%;
  display: flex;
  align-items: center;
  column-gap: 0.7vw;
  padding-right: 0.7vw;
}

.upper-icon {
  height: 2.5rem;
  float: right;
}

/* LANDING PAGE */
main {
  width: 100%;
  position: relative;
}

.landing-page {
  width: 100%;
  height: 60vh;
  display: table;
  margin-bottom: 0.7vw;
}

.header {
  display: table-cell;
  vertical-align: middle;
}

.main-header {
  display: block;
  position: relative;
  text-align: center;
  color: white;
  font-size: 12vw;
  line-height: 1em;
}

.sub-header {
  text-align: right;
  color: white;
  display: block;
  text-decoration: none;
  font-size: 4.5vw;
  line-height: 1.2em;
  padding-right: 17vw;
}

/* SHADES OF BLUE */
#shades-of-blue {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 0.7vw;
}

.shade {
  display: block;
  aspect-ratio: 1;
}

.shade-01 {
  grid-column: 1 / 2;
  background: #14181c;
}

.shade-02 {
  grid-column: 2 / 3;
  background: #102c45;
}

.shade-03 {
  grid-column: 3 / 4;
  background: #0c4070;
}

.shade-04 {
  grid-column: 4 / 5;
  background: #08569a;
}

.shade-05 {
  grid-column: 5 / 6;
  background: #0274d9;
}

.shade-06 {
  grid-column: 6 / 7;
  background: #4da5f3;
}

.shade-07 {
  grid-column: 7 / 8;
  background: #99cbf8;
}

.shade-08 {
  grid-column: 8 / 9;
  background: #cce5fb;
}

/* PRODUCTS */
.products-in-shade {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.7vw;
}

#products-in-shade-01 {
  margin-top: 0.7vw;
  background: #14181c;
}

#products-in-shade-02 {
  background: #102c45;
}

#products-in-shade-03 {
  background: #0c4070;
}

#products-in-shade-04 {
  background: #08569a;
}

#products-in-shade-05 {
  background: #0274d9;
}

#products-in-shade-06 {
  background: #4da5f3;
}

#products-in-shade-07 {
  background: #99cbf8;
}

#products-in-shade-08 {
  background: #cce5fb;
}

.product {
  aspect-ratio: 1;
  padding: 12%;
}

.product-image {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  filter: drop-shadow(10px 10px 10px black);
}

/* FOOTER */
footer {
  margin-top: 0.7vw;
  padding: 0.5em 0 0.5em 0;
  text-align: center;
  background-color: #0f3353;
}

.footer-text {
  color: white;
}

.footer-links {
  padding: 0.5% 1% 0 1%;
  font-size: 1rem;
}

.footer-connect {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icon {
  height: 3rem;
  padding: 0.5em 0.8em 0.5em;
}

/* TABLET OPTIMISED */
@media (max-width: 768px) {
  .landing-page {
    height: 40vh;
  }

  #shades-of-blue {
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 0.7vw;
  }

  .shade-01 {
    background: #14181c;
  }

  .shade-02 {
    background: #0c4070;
  }

  .shade-03 {
    background: #0274d9;
  }

  .shade-04 {
    background: #cce5fb;
  }

  .shade-05 {
    background: #102c45;
  }

  .shade-06 {
    background: #08569a;
  }

  .shade-07 {
    background: #4da5f3;
  }

  .shade-08 {
    background: #99cbf8;
  }

  .footer-connect {
    font-size: 1.2rem;
  }

  .footer-icon {
    height: 2.2rem;
  }

  .footer-links {
    font-size: 1rem;
  }

  .button {
    top: 140vh;
  }

  .scroll-up-button {
    width: 4rem;
  }
}

/* MOBILE OPTIMISED */
@media (max-width: 425px) {
  .products-in-shade {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-connect {
    font-size: 1rem;
  }

  .footer-icon {
    height: 2rem;
  }

  .footer-links {
    font-size: 0.9rem;
  }

  .button {
    top: 100vh;
  }

  .scroll-up-button {
    width: 3.5rem;
  }

  .navigation-right {
    column-gap: 1.7vw;
    padding-right: 1.7vw;
  }

  .upper-icon {
    height: 2rem;
  }
}
