* {
  scroll-behavior: smooth;
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  position: relative;
  margin-bottom: 0.7vw;
}

/* GRID */
.grid {
  display: grid;
  width: 55vw;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 2vw;
}

.container {
  display: flex;
  justify-content: center;
}

.info {
  justify-self: start;
  align-self: center;
  font-size: 1vw;
  margin: 1vw 0 0.1vw 0;
}

input{
  width: 25vw;
  border: 1px solid;
  border-radius: 20px;
  height: 2.5vw;
  border-color: black;
  align-self: center;
  padding-left: 5%;
}

/* LOCATION WITHIN GRID */
.card-details {
  grid-area: 1 / 1 / 2 / 2;
}

.billing-adress {
  grid-area: 1 / 2 / 2 / 3;
}

.cardname {
  grid-area: 2 / 1 / 3 / 2;
}

.name {
  grid-area: 3 / 1 / 4 / 2;
}

.card-number {
  grid-area: 5 / 1 / 6 / 2;
}

.cardnumber {
  grid-area: 4 / 1 / 5 / 2;
}

.ccv-code {
  grid-area: 7 / 1 / 8 / 2;
  width: 5vw;
  text-align: center;
  padding: 0;
}

.ccv {
  grid-area: 6 / 1 / 7 / 2;
}

.email {
  grid-area: 8 / 1 / 9 / 2;
}

.email-field {
  grid-area: 9 / 1 / 10 / 2;
}

.phone-number {
  grid-area: 10 / 1 / 11 / 2;
}

.number-field {
  grid-area: 11 / 1 / 12 / 2;
}

.house {
  grid-area: 2 / 2 / 3 / 3;
}

.house-adress {
  grid-area: 3 / 2 / 4 / 3;
}

.street {
  grid-area: 4 / 2 / 5 / 3;
}

.street-adress {
  grid-area: 5 / 2 / 6 / 3;
}

.town {
  grid-area: 6 / 2 / 7 / 3;
}

.town-adress {
  grid-area: 7 / 2 / 8 / 3;
}

.state {
  grid-area: 8 / 2 / 9 / 3;
}

.state-adress {
  grid-area: 9 / 2 / 10 / 3;
}

.countryinfo {
  grid-area: 10 / 2 / 11 / 3;
}

.rowcontainer{
  grid-area: 11 / 2 / 12 / 3;
  display: flex;
}

.country-address{
  width:70%;
}

.post-code{
  width:30%;
  text-align: center;
  padding: 0;
}

.coupon{
  grid-area: 12 / 2 / 13 / 3;
}

.coupon-field{
  grid-area: 13 / 2 / 14 / 3;
}


/* TABLET OPTIMISED */
@media (max-width: 768px) and (orientation: landscape) {

  .info {
    font-size: 2vw;
    margin-top: 1.5vw;
  }

  input{
    font-size: 1.5vw;
  }

  .country-address{
    width: 70%;
  }
  
  .post-code{
    width: 30%;
    text-align: center;
    padding: 0;
  }
}

/* MOBILE OPTIMISED */
@media (orientation: portrait) {

  .info {
    font-size: 3vw;
    margin-top: 1.5vw;
  }

  input{
    width: 57vw;
    border: 1px solid;
    border-radius: 20px;
    height: 5vw;
    border-color: black;
    align-self: center;
    padding-left: 5%;
    font-size: 3vw;
  }

  .country-address{
    width:70%;
  }
  
  .post-code{
    width:30%;
    text-align: center;
    padding: 0;
  }

  .grid {
    display: grid;
    width: 60vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 1vw;
  }

  .card-details {
    grid-area: 1 / 1 / 2 / 2;
  }

  .billing-adress {
    grid-area: 12 / 1 / 13 / 2;
    margin-top: 5vw;
  }

  .house {
    grid-area: 13 / 1 / 14 / 2;
  }

  .house-adress {
    grid-area: 14 / 1 / 15 / 2;
  }

  .street {
    grid-area: 15 / 1 / 16 / 2;
  }

  .street-adress {
    grid-area: 16 / 1 / 17 / 2;
  }

  .town {
    grid-area: 17 / 1 / 18 / 2;
  }

  .town-adress {
    grid-area: 18 / 1 / 19 / 2;
  }

  .state {
    grid-area: 19 / 1 / 20 / 2;
  }

  .state-adress {
    grid-area: 20 / 1 / 21 / 2;
  }

  .countryinfo {
    grid-area: 21 / 1 / 22 / 2;
  }

  .rowcontainer{
    grid-area: 22 / 1 / 23 / 2
  }

  .ccv-code{
    width: 10vw;
    text-align: center;
    padding: 0;
  }

  .coupon{
    grid-area: 23 / 1 / 24 / 2;
  }
  
  .coupon-field{
    grid-area: 24 / 1 / 25 / 2;
  }
}
