* {
    scroll-behavior: smooth;
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    grid-row-gap: 1vw;
    grid-column-gap: 2vw;
    height: 100vh;
}

.return-button{
    width: 8vw;
    display: flex;
    align-items: center;
}
.upper-icon {
    height: 3vw;
    margin-right: 0.8%;
    margin-top: 0.8%;
    margin-bottom: 0.8%;
}

.checkout-title{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 9;
    justify-self: center;
    margin-top: 1vw;
    font-size: 2vw;
    font-weight: bold;
}

.card-details-title{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 9;
    justify-self: center;
    margin-top: 1vw;
    font-size: 1.5vw;
    font-weight: bold;
}

.billing-adress{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 6;
    font-size: 1.5vw;
    justify-self: center;
}

.billing-subheader{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 6;
    font-size: 1vw;
    justify-self: center;
}

.cardname{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center;
    margin-left: 6vw;
    font-size: 1vw;
}

.field{
    width: 25vw;
    align-self: center;
}

.small-field{
    width: 5vw;
    align-self: center;
}

.country{
    width: 15.9vW;
    align-self: center;
}

.postcode{
    width: 9vw;
    justify-self: end;
}

.name{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 5;
}

.card-number{
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 4;
    grid-column-end: 5;
}

.cardnumber{
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center;
    margin-left: 6vw;
    font-size: 1vw;
}

.ccv-code{
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 4;
    grid-column-end: 5;
}
.ccv{
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center;
    margin-left: 6vw;
    font-size: 1vw;
}

.email{
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center;
    margin-left: 6vw;
    font-size: 1vw;
}

.email-field{
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 4;
    grid-column-end: 5;
}

.phone-number{
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center;
    margin-left: 6vw;
    font-size: 1vw;
}

.number-field{
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 4;
    grid-column-end: 5;
}

.house-adress{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 5;
    grid-column-end: 6;
}

.street-adress{
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 5;
    grid-column-end: 6;
}

.town-adress{
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 5;
    grid-column-end: 6;
}

.state-adress{
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 5;
    grid-column-end: 6;
}

.country-adress{
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 5;
    grid-column-end: 6;
}

.post-code-adress{
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 5;
    grid-column-end: 6;
} 