@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  --blue-shade-01: #14181c;
  --blue-shade-02: #102c45;
  --blue-shade-03: #0c4070;
  --blue-shade-04: #08569a;
  --blue-shade-05: #0274d9;
  --blue-shade-06: #4da5f3;
  --blue-shade-07: #99cbf8;
  --blue-shade-08: #cce5fb;
  --gradient: linear-gradient(270deg, #cce5fb 0%, #08569a 50%, #14181c 100%);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.font {
  font-family: modish, sans-serif;
  font-style: normal;
}

/* HEADERS AND SUBHEADERS */
.page-header {
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  margin-top: 3vh;
}

.page-subheader {
  text-align: center;
  font-weight: bold;
  font-size: 1.5vw;
  margin: 3vh 0 1.5vh 0;
}

/* NAVIGATION BAR */
.word-one,
.word-two,
.word-three {
  display: inline-block;
}

.word-one {
  margin-right: 1.8%;
}

.word-two {
  margin-right: 1.2%;
}

.navigation {
  background: var(--gradient);
  display: flex;
  align-content: center;
  position: relative;
  width: 100%;
  height: 10vh;
}

.navigation-left {
  width: 20%;
  display: flex;
  align-items: center;
  float: left;
  padding-left: 1vw;
}

.navigation-center {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 5vh;
}

.navigation-right {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  align-items: center;
  column-gap: 1vw;
  padding-right: 1vw;
}

.upper-icon {
  height: 6.5vh;
  float: right;
}

.upper-icon:hover {
  transform: scale(1.1);
}

/* FOOTER */
footer {
  margin-top: auto;
  padding: 1.3vh 0 1.3vh 0;
  text-align: center;
  background-color: #0f3353;
}

.footer-text {
  color: white;
}

.footer-links {
  padding: 0.5% 1% 0 1%;
  font-size: 1em;
}

.footer-connect {
  font-size: 1.2em;
  font-weight: bold;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icon {
  height: 6vh;
  padding: 0.8vh 0.8vw 0.8vh;
}

.footer-icon:hover {
  transform: scale(1.1);
}

/* BLUE BUTTON */
.button-space {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #08569a;
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: 23vw;
  height: 7vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  font-size: 2.4vh;
}

.button:hover {
  transform: scale(1.1);
}

/* TABLET AND MOBILE OPTIMISED */
@media (max-width: 768px) and (orientation: landscape) {
  .footer-connect {
    font-size: 1.2em;
  }

  .footer-links {
    font-size: 0.9em;
  }

  .footer-icon {
    padding: 0.8vh 1.3vw 0.8vh;
  }

  .upper-icon {
    height: 6vh;
  }

  .word-one {
    margin-right: 5%;
  }

  .word-two {
    margin-right: 2.4%;
  }
}

@media (orientation: portrait) {
  .page-header {
    font-size: 6vw;
  }

  .page-subheader {
    font-size: 2.2vh;
    margin-bottom: 1.5vw;
  }

  .navigation {
    height: 7vh;
  }

  .navigation-left {
    padding-left: 1.7vw;
  }

  .navigation-right {
    column-gap: 1.7vw;
    padding-right: 1.7vw;
  }

  .navigation-center {
    font-size: 4vh;
  }

  .upper-icon {
    height: 4vh;
  }

  .word-one {
    margin-right: 5%;
  }

  .word-two {
    margin-right: 2.4%;
  }

  .footer-connect {
    font-size: 1em;
  }

  .footer-icon {
    padding: 1.3vh 3vw 1.3vh;
  }

  .button {
    width: 60vw;
  }
}
