/* APPLYING TO ALL */
* {
  scroll-behavior: smooth;
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

/* LANDING PAGE */
main {
  width: 100%;
  position: relative;
}

.page-header {
  font-size: 5vh;
  font-weight: bold;
  text-align: center;
  margin-top: 3vh;
}

/* GRID */
.shopping-cart {
  display: grid;
  grid-template-columns: 28% 18% 18% 18% 18%;
  grid-template-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 1vw;
  margin: 3.5vh 6.5vw 0 6.5vw;
}

.section-title-items,
.section-title-amount,
.section-title-price,
.section-title-total,
.section-title-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 3.7vh;
  margin-bottom: 0;
}

.product-in-cart-one,
.product-in-cart-two {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image {
  display: flex;
  width: 90%;
  align-self: center;
}

.image {
  width: 100%;
  align-content: center;
}

.product-name {
  font-size: 1.2vw;
  font-weight: bold;
}

.amount-one,
.amount-two {
  display: flex;
}

.price {
  text-align: center;
  align-self: center;
  font-weight: lighter;
  font-size: 1.2vw;
}

.remove {
  display: flex;
}

.button-add,
.button-remove {
  margin: auto;
  display: block;
  align-content: center;
}

.button-add {
  width: 40%;
}

.button-remove {
  width: 10%;
}

/* BELOW GRID */
.total-price {
  font-size: 3.7vh;
  text-align: center;
  font-weight: bold;
}

.button-space {
  display: flex;
  justify-content: center;
}

.blue-button {
  background-color: #08569a;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 0.8% 1.2%;
  width: 25vw;
  margin-top: 4vh;
  margin-bottom: 2vh;
  font-size: 3.2vh;
}

/* TABLET OPTIMISED */
@media (max-width: 768px) {
  .shopping-cart {
    margin: 3.5vh 3.5vw 0 3.5vw;
  }

  .product-name {
    font-size: 1.4vw;
  }

  .price {
    font-size: 2vw;
  }

  .button {
    width: 11vw;
  }

  .blue-button {
    width: 35vw;
  }
}

/* MOBILE OPTIMISED */
@media (max-width: 425px) {
  .blue-button {
    font-size: 3vh;
    width: 50vw;
  }

  .shopping-cart {
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 0;
    margin: 3.5vh 3.5vw 0 3.5vw;
  }

  .section-title-items {
    grid-area: 1 / 1 / 2 / 5;
    margin-bottom: 3vw;
  }

  .section-title-amount,
  .section-title-price,
  .section-title-total,
  .section-title-remove {
    grid-row: 2 / 3;
    font-size: 2.2vh;
    margin-bottom: 1.5vw;
  }

  .product-in-cart-one {
    grid-area: 4 / 1 / 5 / 5;
  }

  .product-in-cart-two {
    grid-area: 6 / 1 / 7 / 5;
  }

  .amount-one {
    grid-area: 3 / 1 / 4 / 2;
  }

  .price {
    font-size: 3.5vw;
  }

  .button {
    width: 17vw;
  }

  .product-image {
    width: 35%;
  }

  .product-name {
    font-size: 2.8vw;
  }
}
